@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rubik:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab", serif;
	font-size: 1.2em;
	/*overflow-y: none;*/
}

header {
	width: 100%;
	/*margin: 5px;	*/
	/*padding: 5px;*/
}

.main_header {
	text-align: center;
	border-bottom: 1px solid #A7A7A7;
}

.flex_header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.a-black {
	color: black;
	/* float: left; */
	position: absolute;
	right: 15px;
	top: 1.4em;
	/* display: inline-flex; */
}

.logo>h2 {
	margin: 0;
	padding: 5px
}

main {
	padding: 15px;
	width: 80%;
	line-height: 1.5;
	/*height: 5000px;*/
}

/* .white {
	color: white;
	filter: blur(0);
} */

.head__center {
	text-align: center;
	/* font-family: 'Rubik', sans-serif; */
	font-weight: 500;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 10px;
}

/* .container>a {
	color: black;
} */

.logo {
	font-family: 'Bad Script', cursive;
}


footer {
	background-color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0.5em 1.5em;
	color: white;
	font-size: 0.8em;

}

.contact_with_us {
	list-style-type: none;
}

li>a {
	color: white;
	text-decoration: none;
}