@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rubik:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab", serif;
	font-size: 1.2em;
	/*overflow-y: none;*/
}

header {
	width: 100%;
	/*margin: 5px;	*/
	/*padding: 5px;*/
}

.main__header {
	text-align: center;
	border-bottom: 1px solid #A7A7A7;
}

.logo>h2 {
	margin: 0;
	padding: 5px
}

main {
	padding: 15px;
	width: 80%;
	line-height: 1.5;
	/*height: 5000px;*/
}


.main__image {
	background-image: url(img/kofe-s-koritsey.jpg);
	filter: blur(2px);
	width: 100%;
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.SayHi {
	padding-top: 15px;
}

.white {
	color: white;
	filter: blur(0);
}

.head__center {
	text-align: center;
	/* font-family: 'Rubik', sans-serif; */
	font-weight: 500;
}

.container {
	/*width: 100%;*/
	margin: 0 auto;
	padding-top: 10px;
}

.logo {
	font-family: 'Bad Script', cursive;
}

.price_list {
	width: 90%;
	margin: 10px auto;
}

.price_items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 35px;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.price_items {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 15px;
		width: 100%;
	}
}

.price_item {
	/* width: 250px; */
	/* padding: 10px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #A7A7A7;
}

/* .description {} */

.poster {
	width: 100%;
	border-radius: 5px;
}

.price {
	text-decoration: underline;
}
